* {
  margin: 0;
  padding: 0;
}

.item-wrap {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  line-height: 50px;
}

.item-name {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
