* {
  margin: 0;
  padding: 0;
}

.sign-up-email-box {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.sign-up-email-input {
  width: 150px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 10px;
}

.sign-up-password-box {
  margin: 30px auto;
  width: 400px;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.sign-up-password-input {
  width: 150px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 10px;
}

.sign-up-check-password-box {
  margin: 30px auto;
  width: 400px;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.sign-up-phone-number-box {
  margin: 30px auto;
  width: 400px;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.sign-up-tel-input {
  width: 150px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 10px;
}

.sign-up-button {
  margin: 40px auto;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
}
